<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div id="headerContainer">
        
        <div class="textBackground">
        </div>
        <div class="textContainer">
            <h1 class="text">Welcome to Marius's Weather Heaven</h1>
            <h2 class="text">Stay Ahead of the Weather with Accurate, Up-to-Date Forecasts</h2>
            <p class="text">Please type a country or city below to get the current forecast data!</p> 
        </div>
    </div>